<button (click)="nextStep()">next step</button>
<button (click)="prevStep()">prev step</button>
<p>{{ activeStep$ | async }}</p>
<ng-container *ngIf="activeStep$ | async as activeStep">
  <app-collapsed-step
    *ngIf="activeStep !== 1"
    [viewModel]="sevenStepsViewModels.step1"
  ></app-collapsed-step>
  <app-step1
    class="steps_wrapper"
    *ngIf="activeStep === 1"
    [viewModel]="sevenStepsViewModels.step1"
  ></app-step1>

  <app-collapsed-step
    *ngIf="activeStep !== 2"
    [viewModel]="sevenStepsViewModels.step2"
  ></app-collapsed-step>
  <app-step2
    class="steps_wrapper"
    *ngIf="activeStep === 2"
    [viewModel]="sevenStepsViewModels.step2"
  ></app-step2>

  <app-collapsed-step
    *ngIf="activeStep !== 3"
    [viewModel]="sevenStepsViewModels.step3"
  ></app-collapsed-step>
  <app-step3
    class="steps_wrapper"
    *ngIf="activeStep === 3"
    [viewModel]="sevenStepsViewModels.step3"
  ></app-step3>

  <app-collapsed-step
    *ngIf="activeStep !== 4"
    [viewModel]="sevenStepsViewModels.step4"
  ></app-collapsed-step>
  <app-step4
    class="steps_wrapper"
    *ngIf="activeStep === 4"
    [viewModel]="sevenStepsViewModels.step4"
  ></app-step4>

  <app-collapsed-step
    *ngIf="activeStep !== 5"
    [viewModel]="sevenStepsViewModels.step5"
  ></app-collapsed-step>
  <app-step5
    class="steps_wrapper"
    *ngIf="activeStep === 5"
    [viewModel]="sevenStepsViewModels.step5"
  ></app-step5>

  <app-collapsed-step
    *ngIf="activeStep !== 6"
    [viewModel]="sevenStepsViewModels.step6"
  ></app-collapsed-step>

  <app-step6
    class="steps_wrapper"
    *ngIf="activeStep === 6"
    [viewModel]="sevenStepsViewModels.step6"
  ></app-step6>

  <app-collapsed-step
    *ngIf="activeStep !== 7"
    [viewModel]="sevenStepsViewModels.step7"
  ></app-collapsed-step>
  <app-step7
    class="steps_wrapper"
    *ngIf="activeStep === 7"
    [viewModel]="sevenStepsViewModels.step7"
  ></app-step7>
</ng-container>
