<app-publish-navbar></app-publish-navbar>

<ng-container
  *ngTemplateOutlet="
    isQueryParamsEmpty ? publishPageSelectionTemplate : sevenStepsTemplate
  "
></ng-container>

<ng-template #sevenStepsTemplate>
  <app-seven-steps-page></app-seven-steps-page>
</ng-template>

<ng-template #publishPageSelectionTemplate>
  <div class="wrapper">
    <div class="category-rows">
      <h2>אני רוצה לפרסם מודעה בלוח...</h2>
      <ng-container *ngIf="categories$ | async as categories">
        <app-publish-page-content
          *ngIf="!isMobileUser"
          [categories]="categories"
          (onClickedCategoryEvent)="handleClickedCategoryEvent($event)"
        ></app-publish-page-content>

        <app-publish-page-content-mobile
          *ngIf="isMobileUser"
          [categories]="categories"
          (onClickedCategoryEvent)="handleClickedCategoryEvent($event)"
        ></app-publish-page-content-mobile>
      </ng-container>
    </div>
  </div>
  <app-publish-page-modal
    [(showPublishSelectionModal)]="showPublishPageModal"
    [clickedCategory]="clickedCategory"
  ></app-publish-page-modal>
</ng-template>
