<div class="tooltip_wrapper">
  <img src="assets/images/publish/megaphone.png" />
  <div class="tooltip_content">
    <h5>הזמן שלך יקר לנו!</h5>
    <span>על פי מחקר אונ' ת"א עם מודעה משודרגת מוכרים מהר יותר </span>
  </div>
</div>

<ng-container [ngTemplateOutlet]="view"></ng-container>

<div class="buttons-wrapper">
  <button class="nav-btn" (click)="prevStep()">חזרה</button>
  <button *ngIf="isMobileUser" class="nav-btn" (click)="nextStep()">
    המשך
  </button>
  <button
    *ngIf="!isMobileUser"
    class="nav-btn bigger_width"
    (click)="nextStep()"
  >
    להמשיך לשלב הבא
  </button>
</div>

<ng-template #view> </ng-template>
