.nav-btn {
  cursor: pointer;
  font-size: 14px;
  color: #363636;
  text-align: center;
  box-sizing: border-box;
  height: 35px;
  width: 90px;
  border: 1px solid #ccc;
  border-radius: 17.5px;
  background-color: #fff;
}

.nav-btn:hover {
  color: #fff !important;
  background: var(--btn-primary-color);
}

.nav-btn:last-child {
  color: var(--btn-primary-color);
  border-color: var(--btn-primary-color);
  font-weight: 500;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 90%;
  margin: 60px auto 0 auto;
}
