<div class="wrapper" [ngClass]="{ clickable: isStepCompleted }" (click)="this.expandStep()">
  <section class="title-and-icon">
    <span class="step-checked-icon" *ngIf="isStepCompleted">
      <img
        src="assets/images/publish/step-checked-icon.png"
        alt="step_checked"
      />
    </span>
    <span class="num-icon" *ngIf="!isStepCompleted">
      <span class="number">{{ stepViewModel.stepStage + 1 }}</span>
    </span>
    <h2 class="title">{{ stepViewModel.title }}</h2>
  </section>
  <img
    *ngIf="isStepCompleted"
    class="edit-icon"
    src="assets/images/publish/edit-icon-gray.png"
    alt="edit"
  />
</div>
