:host {
  display: block;
  position: relative;
}

.wrapper > * {
  position: relative;
  display: block;
  padding: 0 5% !important;
  margin: 1.5rem 0;
}


h3 {
  font-size: 1rem;
  font-weight: 500;
}

.order_types {
  margin-top: 60px !important;
  display: flex !important;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}
