label {
  position: relative;

  select {
    font-size: 1rem;
    height: 50px;
    padding: 0 10px 0 30px;
    margin-top: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  img {
    object-fit: contain;
    width: 16px;
    position: absolute;
    bottom: 0;
    left: 10px;
  }

  span {
    display: block;
  }
}
