label {
  position: relative;
  font-size: var(--select-font-size);

  select {
    width: var(--select-width);
    height: var(--select-height);
    font-size: var(--select-font-size);
    padding: 0 10px 0 30px;
    margin-top: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: var(--select-border-radius);
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  img {
    object-fit: contain;
    position: absolute;
    width: var(--select-dropdown-icon-width);
    bottom: var(--select-dropdown-icon-bottom);
    left: 10px;
  }

  span {
    display: block;
  }
}
