.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: var(--backdrop-transition);
}

.backdrop-visible {
  visibility: visible;
  background: var(--backdrop-background-color);
}

.modal-box {
  width: var(--dialog-box-width);
  height: var(--dialog-box-height);
  transition: var(--dialog-box-transition);
  padding: var(--dialog-box-padding);
  transform: var(--dialog-box-transform);
  opacity: var(--dialog-box-opacity);

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 5px;
  position: relative;
}

.modal-box-active {
  background: var(--dialog-box-background);
  transform: var(--dialog-box-transform-end);
  opacity: var(--dialog-box-opacity-active);
}
