.modal-container {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 4;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  -ms-overflow-style: no;
  transition: 0.4s all ease-in-out;
}

.modal-container-active {
  visibility: visible;
}

.modal-content {
  display: inline-block;

  z-index: 4;
  background-color: #fff;
  border-radius: 5px;
  text-align: right;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  opacity: 0;
  transform: scale(0.9, 0.85);
  transform-origin: center center;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  will-change: opacity, transform;
}

.modal-container:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(11, 11, 11, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.4s all ease-in-out;
}

.modal-container-active:after {
  opacity: 0.6;
  visibility: visible;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.clear_search_popup {
  padding: 20px;
  position: relative;
  width: 80vw;
}

.modal-content-active {
  opacity: 1;
  transform: scale(1);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: opacity, transform;
}

.top {
  margin-bottom: 30px;
}

.bottom {
  display: flex;
}

.first-btn {
  flex: 2;
  font-size: 16px;
  padding: 0.55em 1em;
  margin-right: 10px;


  span {
    width: 100%;
  }
}

.second-btn {
  flex: 2;
  line-height: 1.1875rem;

  font-size: 16px;
  background-color: #eee;
  color: #363636;

  span {
    width: 100%;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  left: 5px;

  img {
    cursor: pointer;
    object-fit: contain;
    width: 15px;
  }
}
