:root {
  //Any global scss variable to share with components
  --navbar-main-height: 45px;
  --navbar-logo-height: 25px;
  --navbar-logo-width: 90px;
  --body-padding-top: 45px;
  --btn-cta-color: #0fca80;
  --font-size-standard: 1rem;
  --btn-primary-color: #ff7100;

}

// @media only screen and (max-width: 745px) {
//   :root {
//     --chart-width-size: 90%;
//     --chart-width-half-size: 90%;
//   }
// }
