.mobile_checkbox_label {
  width: calc(100% - 50px);
  margin: 0;
  min-height: 44px;
  display: inline-flex;
  align-items: center;
  margin: 3px 5px;
  color: #363636;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.1875rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox {
  appearance: none;
}

.checkmark-partial:after {
  content: "\2212" !important;
  font-weight: bold;
  position: relative;
  right: 2px;
  top: -1px;
  color: #fff;
  display: none;
}

.checkmark-partial {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  width: var(--checkbox-width);
  height: var(--checkbox-height);
  border: var(--checkbox-border);
  min-width: 1em;
  background-color: #fff;
  border-radius: 2px;
}

.checkmark {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  width: var(--checkbox-width);
  height: var(--checkbox-height);
  border: var(--checkbox-border);
  min-width: 1em;
  background-color: #fff;
  border-radius: 2px;
}

.checkmark:after {
  content: "\2713";
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  top: var(--checkbox-checkmark-top);
  left: var(--checkbox-checkmark-left);
  color: #fff;
  display: none;
}

.mobile_checkbox_label:hover > .checkmark {
  border: 1px solid #ff7100;
}

.checkbox:checked ~ .checkbox {
  appearance: initial;
}

.checkbox:checked ~ .checkmark {
  background-color: #ff7100;
  border: 1px solid #ff7100;
}

.checkbox:checked ~ .checkmark:after {
  display: block;
}

.checkbox:checked ~ .checkmark-partial:after {
  display: block;
}

.checkbox:checked ~ .checkmark-partial {
  background-color: #ff7100;
  border: 1px solid #ff7100;
}



