label {
  font-size: 1rem;
  min-width: 100%;
  display: inline-block;
  color: #363636;
  text-align: right;
  position: relative;

  input {
    margin-top: 5px;
    height: 50px;
    border-radius: 2px;
    font-size: 1rem;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
  }
  input::placeholder {
    font-size: 1rem;
    color: #999999;
  }
  input[disabled] {
    background-color: #fff;
    border-color: #ccc;
    color: #ccc;
  }

  input::placeholder {
    font-weight: 300;
  }

  input:focus-visible {
    border-color: rgb(56, 56, 56);
  }
  input:hover {
    border-color: rgb(56, 56, 56);
  }
}

.disabled {
  color: #ccc;
}

.password-visibility {
  display: relative;
  img {
    cursor: pointer;

    position: absolute;
    left: 10px;
    bottom: 30%;
    object-fit: contain;
    width: 22px;
    opacity: 0.6;
  }

  img:hover {
    opacity: 1;
  }
}
