<label [ngClass]="{ disabled: control && control.disabled || inputModel.disabled}">
  <span [ngClass]="{ disabled: control && control.disabled || inputModel.disabled }">{{
    inputModel.labelText | asterisk : !!inputModel.required
  }}</span>

  <ng-container
    [ngTemplateOutlet]="control ? formControlInput : defaultInput"
  ></ng-container>

  <ng-template #formControlInput>
    <input
      [formControl]="control"
      [type]="inputModel.inputType"
      [placeholder]="inputModel.placeholder ?? ''"
    />
  </ng-template>
  <ng-template #defaultInput>
    <input
      #input
      [readOnly]="inputModel.readonly"
      [disabled]="inputModel.disabled"
      [type]="inputModel.inputType"
      [placeholder]="inputModel.placeholder ?? ''"
      [value]="inputValue"
      (keyup)="emitKeyUpInputEvent($event)"
    />
  </ng-template>

  <ng-template [ngIf]="isLoading">
    <app-spinner [spinnerType]="1"></app-spinner>
  </ng-template>
  <span
    (click)="togglePasswordInputElementVisibility()"
    *ngIf="inputModel.passwordIcon"
    class="password-visibility"
  >
    <img
      src="../../../../assets/images/password-icon.png"
      *ngIf="inputModel.inputType === 'text'"
    />
    <img
      src="../../../../assets/images/password_visible.png"
      *ngIf="inputModel.inputType === 'password'"
    />
  </span>
</label>
