.wrapper {
  padding: 0 20px;

  li {
    padding: 0 20px;
    border-bottom: 1px solid #eee;
    min-height: 50px;
  }
}

.arrow > img {
  object-fit: contain;
  width: 18px;
  transform: rotate(180deg);
}
