:host {
  display: block;
  width: var(--textarea-width);
  height: var(--textarea-height);
}

textarea {
  resize: var(--textarea-box-resize);
  width: var(--textarea-box-width);
  height: var(--textarea-box-height);
  padding: var(--textarea-box-padding);
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;

  &:focus {
    outline: none;
  }
}
