<nav>
  <div class="navbar-wrapper">
    <div class="right_side">
      <img routerLink="/" [src]="logoImgSrc" alt="yad2-logo" />
    </div>
    <div class="left_side">
      <div class="user_profile-btn">
        <img
          src="../../../../../assets/images/navbar_user_icon.png"
          alt="user_icon"
        />
        <a>שלום אורח/ת</a>
      </div>
      <section class="contact-btn">
        <img
          src="../../../../../assets/images/question_mark.png"
          alt="contact"
        />
      </section>
    </div>
  </div>
</nav>
