<div class="wrapper">
    <app-select
      [data]="numberOfRoomsSelectOptions"
      [placeholder]="'בחירת מספר חדרים'"
      [labelName]="'מספר חדרים*'"
    ></app-select>

    <app-switcher
      [type]="SwitcherTypes.SINGLE_RECTANGLES"
      [labelName]="'חניה'"
      [data]="['ללא', '1', '2', '3']"
    ></app-switcher>
    <app-switcher
      [type]="SwitcherTypes.SINGLE_RECTANGLES"
      [labelName]="'מרפסת'"
      [data]="['ללא', '1', '2', '3']"
    ></app-switcher>

    <div class="column_title">
      <h3>מאפייני הנכס</h3>
    </div>

    <span class="rounded_multi_switch">
      <app-switcher
        [type]="SwitcherTypes.MULTI_ROUND"
        [data]="yad2Properties"
      ></app-switcher>
    </span>

    <div class="column_title">
      <h3>מה חשוב לך שידעו על הנכס?</h3>
    </div>

    <label class="description_textarea_label">
      <span class="label_text">פרוט הנכס</span>
      <div class="progress_bar">
        <app-progress-bar
          [progressPercentage]="textAreaCountOfChars"
          [progressBarPercentageDivider]="1.5"
        >
          <ng-template #progressBarTextTemplate>
            <span class="progress_bar_text">
              <p>
                {{ progressBarText }}
              </p>
            </span>
          </ng-template>
        </app-progress-bar>
        <span class="counter">{{ textAreaCountOfChars }}/{{ 400 }}</span>
      </div>
      <app-textarea
        [maxLength]="400"
        [placeholder]="
          'זה המקום לתאר את הפרטים הבולטים, למשל, האם נערך שיפוץ במבנה, מה שופץ, כיווני אוויר, האווירה ברחוב וכו'
        "
        (textAreaEnterCharEvent)="setTextAreaString($event)"
      ></app-textarea>
      <p class="textarea_comment">
        אין צורך להוסיף מספר טלפון כחלק מהתיאור, בהמשך התהליך יש אזור מסודר לזה
      </p>
    </label>
  </div>
