<!-- <h4 class="outerSubTitle">סימנו עבורך את שדות החובה. שלא נפספס פרט חשוב</h4>
<section class="wrapper">
  <app-select [selectModel]="viewmodels.propertyType"></app-select>

  <app-select [selectModel]="viewmodels.propertyState"></app-select>

  <app-dropdown-input
    [inputModel]="viewmodels.city"
    [data]="cityAutoComplete$ | async"
  ></app-dropdown-input>

  <app-dropdown-input
    [inputModel]="viewmodels.street"
    [data]="streetAutoComplete$ | async"
  ></app-dropdown-input>

  <div class="street tooltip">
    <p>
      המידע מגיע מגוף ממשלתי. אם הרחוב שלך לא מופיע, מומלץ לבחור רחוב קרוב אליך
    </p>
    <span [ngClass]="{ grayed: viewmodels.street.disabled }"
      >לא מצאת את הרחוב?</span
    >
  </div>
  <span class="address_number">
    <app-input
      [inputModel]="viewmodels.houseNum"
    ></app-input>
  </span>

  <div *ngIf="true" class="floor_inputs">
    <app-input [inputModel]="viewmodels.floor"></app-input>

    <app-input [inputModel]="viewmodels.totalFloors"></app-input>

    <app-checkbox [checkboxItem]="viewmodels.isOnColumns"></app-checkbox>
  </div>

  <app-input [inputModel]="viewmodels.neighborhood"></app-input>
  <div class="tooltip">
    <p>המידע מגיע מגוף ממשלתי ולא ניתן לשינוי</p>
  </div>

  <app-input [inputModel]="viewmodels.zone"></app-input>
  <div class="tooltip">
    <p>המידע מגיע מגוף ממשלתי ולא ניתן לשינוי</p>
  </div>

  <app-checkbox
    class="commercial_checkbox"
    [checkboxItem]="viewmodels.emailCommercials"
  ></app-checkbox>
</section> -->
