:host {
  padding: 1% 5%;
  display: block;
  position: relative;
}

.outerSubTitle {
  margin: 35px 0;
  color: #000;
  font-size: 0.95rem;
  font-weight: inherit;
  line-height: 22px;
}

.grayed {
  cursor: default !important;
  color: #ccc !important;
}


.tooltip_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 76px;
  border: 1px solid #c6e1ff;
  border-radius: 3px;
  background-color: #f3f8ff;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 8%);
  padding: 8px;

  img {
    object-fit: contain;
    width: 58px;
  }
}

.tooltip_content {
  h5 {
    font-size: 14px;
    font-weight: 600;
    margin: 2px;
  }
  span {
    display: block;
    width: 80%;
    font-size: 14px;
  }
}

.street {
  span {
    cursor: pointer;
    font-size: 12px;
    color: var(--btn-primary-color);
  }
}

.tooltip {
  margin: 0 !important;
  padding-top: 5px;
  color: #666;
  font-size: 11px;

  p {
    margin: 0;
    margin-bottom: 10px;
  }
}

.wrapper > * {
  display: block;
  margin-top: 1.5rem;
}

.wrapper app-select {
  --select-width: 100%;
  --select-height: 50px;
  --select-border-radius: 4px;
  --select-dropdown-icon-width: 12px;
  --select-dropdown-icon-bottom: 5px;
  --select-font-size: 14px;
}

.wrapper app-input {
  --input-width: 100%;
  --input-height: 50px;
  --input-font-size: 14px;
  --input-border-radius: 4px;
  --input-placeholder-font-weight: 400;
}

.floor_inputs {
  margin-bottom: 40px;
}

.floor_inputs app-input {
  --input-width: 46%;
  --input-margin: 0 0 0 5px;
}

.floor_inputs app-input:first-child {
  float: right;
}

.floor_inputs app-input:nth-child(2) {
  float: left;
}

.floor_inputs app-checkbox {
  --checkbox-font-size: 14px;
  position: relative;
  top: 10px;
}

.address_number {
  width: 50%;
}

.address_number app-input {
  --input-width: 17%;
}

.commercial_checkbox {
  --checkbox-font-size: 14px;
}

.nav-btn {
  cursor: pointer;
  font-size: 14px;
  color: #363636;
  text-align: center;
  box-sizing: border-box;
  height: 35px;
  width: 90px;
  border: 1px solid #ccc;
  border-radius: 17.5px;
  background-color: #fff;
}

.nav-btn:hover {
  color: #fff !important;
  background: var(--btn-primary-color);
}

.nav-btn:last-child {
  color: var(--btn-primary-color);
  border-color: var(--btn-primary-color);
  font-weight: 500;
}

.buttons-wrapper {
  display: flex !important;
  justify-content: space-between;
  margin: 50px 0 35px 0!important;
}

@media only screen and (min-width: 880px) {
  .tooltip_wrapper {
    position: absolute;
    top: -64px;
    left: 20px;
    width: 521px;
    height: 54px;

    img {
      width: 48px;
    }
  }

  .tooltip_content {
    span {
      width: 100%;
    }
  }

  .wrapper app-select {
    --select-width: 33%;
    --select-height: 40px;
  }

  .wrapper app-input {
    --input-width: 33%;
    --input-height: 40px;
  }

  .address_number {
    width: 17%;
  }

  .bigger_width {
    width: 155px !important;
  }

  .floor_inputs {
    display: flex !important;
  }

  .floor_inputs app-checkbox {
    margin-top: 25px;
    align-self: center;
  }

  .floor_inputs app-input {
    --input-width: 22%;
    --input-margin: 0 0 0 15px;
    float: none !important;
  }

}
