<h4 class="outerSubTitle">סימנו עבורך את שדות החובה. שלא נפספס פרט חשוב</h4>
<section class="wrapper">
  <app-select
    (selectedValue)="selectAsset($event)"
    [data]="Yad2AssetsArray"
    [labelName]="'סוג הנכס*'"
    [placeholder]="'דירה או אולי פנטהאוז'"
  ></app-select>

  <app-select
    [data]="['one', 'two', 'three']"
    [labelName]="'מצב הנכס*'"
    [placeholder]="'משופץ? חדש מקבלן?'"
  ></app-select>

  <app-input labelName="ישוב*" [placeHolder]="'איפה נמצא הנכס?'"></app-input>

  <app-input
    labelName="רחוב"
    [disabled]="true"
    [placeHolder]="'הכנסת שם הרחוב'"
  ></app-input>
  <div class="street tooltip">
    <p>
      המידע מגיע מגוף ממשלתי. אם הרחוב שלך לא מופיע, מומלץ לבחור רחוב קרוב אליך
    </p>
    <span [ngClass]="{ grayed: true }">לא מצאת את הרחוב?</span>
  </div>
  <span class="address_number">
    <app-input [disabled]="true" labelName="מס' בית"></app-input>
  </span>

  <div *ngIf="showFloorInputs" class="floor_inputs">
    <ng-container
      [ngTemplateOutlet]="
        showFloorIsRequired ? floorIsRequired : floorIsOptional
      "
    ></ng-container>
    <ng-template #floorIsRequired>
      <app-input
        *ngIf="hideFloorInput"
        [disabled]="true"
        [placeHolder]="'הכנסת מספר קומה'"
        [labelName]="'קומה*'"
      ></app-input>
    </ng-template>

    <ng-template #floorIsOptional>
      <app-input
        *ngIf="hideFloorInput"
        [disabled]="true"
        [placeHolder]="'הכנסת מספר קומה'"
        [labelName]="'קומה'"
      ></app-input>
    </ng-template>

    <app-input
      [disabled]="true"
      [placeHolder]="'הכנסת סה״כ קומות'"
      [labelName]="'סה״כ קומות בבניין*'"
    ></app-input>

    <app-checkbox
      *ngIf="showOnColumsCheckbox"
      [checkboxItem]="onColumnsCheckboxItem"
    ></app-checkbox>
  </div>

  <app-input [disabled]="true" labelName="שכונה"></app-input>
  <div class="tooltip">
    <p>המידע מגיע מגוף ממשלתי ולא ניתן לשינוי</p>
  </div>

  <app-input [disabled]="true" labelName="אזור מכירה"></app-input>
  <div class="tooltip">
    <p>המידע מגיע מגוף ממשלתי ולא ניתן לשינוי</p>
  </div>

  <app-checkbox
    class="commercial_checkbox"
    [checkboxItem]="receiveEmailCommericalsCheckboxItem"
  ></app-checkbox>
</section>
