<div class="wrapper">
  <ul>
    <li *ngFor="let item of multiToggleBoxes">
      <div class="group_type">
        <button
          [ngClass]="{
            box_button_active: this.isAnyCheckboxMarked(item.checkBoxItem)
          }"
          (click)="this.selectItem(item.checkBoxItem)"
        >
          <img src="{{ item.imgSrc }}" />
          <strong>{{ item.checkBoxItem.value }}</strong>
          <span
            [ngClass]="{
              box_span_active: this.isAnyCheckboxMarked(item.checkBoxItem)
            }"
            >{{ this.getBoxDescriptionString(item.checkBoxItem) }}</span
          >
        </button>
      </div>
    </li>
  </ul>
</div>
