<div class="wrapper">
  <ul>
    <li *ngFor="let box of multiToggleBoxes">
      <div class="group_type">
        <button
          [ngClass]="{
            box_button_active: box.checkboxItem.checked
          }"
          (click)="box.checkboxItem.toggleAllChildren()"
        >

          <img src="{{ box.imgSrc }}" />
          <strong>{{ box.checkboxItem.value }}</strong>
          <span
            *ngIf="
              box.checkboxItem.checked;
              then boxIsSelected;
              else boxIsNotSelected
            "
          ></span>
          <ng-template #boxIsSelected>
            <span class="box_span_active">
              {{ box.checkboxItem.countOfCheckedItems }} סוגים נבחרו
            </span>
          </ng-template>
          <ng-template #boxIsNotSelected class="">
            <span> {{ box.checkboxItem.subItems?.length }} סוגי נכסים </span>
          </ng-template>
        </button>
      </div>
    </li>
  </ul>
</div>
