<div class="property_types">
  <div class="property_type_header" *ngIf="this.checkboxItem">
    <label
      class="mobile_checkbox_label"
      (click)="this.checkParentAndChildren()"
    >
      <input
        type="checkbox"
        class="checkbox"
        [checked]="this.checkboxItem.checked"
        disabled
      />
      <span [ngClass]="{ 'checkmark-partial': !isAllMarked, 'checkmark': true }"></span>
      <span class="cb_text">{{ this.checkboxItem.value }}</span>
      <span class="selected_indicator">{{this.getSelectedString}}</span>
    </label>
    <button class="arrow btn" (click)="this.toggleChildrenView()">
      <img
        [ngClass]="{ 'active-arrow': this.viewChildren.view }"
        #arrow
        src="../../../../../assets/images/arrow_gray_bg.png"
        alt="open"
      />
    </button>
  </div>
  <app-checkbox-children
    *ngIf="this.viewChildren.view"
    [checkboxItems]="this.checkboxItem.subItems"
  ></app-checkbox-children>
</div>
