:host {
  display: block;
  position: relative;
}

.wrapper > * {
  position: relative;
  display: block;
  padding: 0 5% !important;
  margin: 1.5rem 0;
}

.wrapper app-select {
  --select-width: 100%;
  --select-height: 50px;
  --select-border-radius: 4px;
  --select-dropdown-icon-width: 12px;
  --select-dropdown-icon-bottom: 5px;
  --select-font-size: 14px;
}

.wrapper app-input {
  --input-width: 100%;
  --input-height: 50px;
  --input-font-size: 14px;
  --input-border-radius: 4px;
  --input-placeholder-font-weight: 400;
}

.wrapper app-dropdown-input {
  --dropdown-input-width: 100%;
  --dropdown-input-height: 50px;
  --dropdown-input-font-size: 14px;
  --dropdown-input-border-radius: 4px;
  --dropdown-input-placeholder-font-weight: 400;
}

.outerSubTitle {
  color: #000;
  font-size: 0.95rem;
  font-weight: inherit;
  line-height: 22px;
  margin: 0 !important;
}

.grayed {
  cursor: default !important;
  color: #ccc !important;
}

.street {
  span {
    cursor: pointer;
    font-size: 12px;
    color: var(--btn-primary-color);
  }
}

.tooltip {
  margin: 0 !important;
  padding-top: 5px;
  color: #666;
  font-size: 11px;

  p {
    margin: 0;
    margin-bottom: 10px;
  }
}

.floor_inputs {
  margin-bottom: 40px !important;
}

.floor_inputs app-input {
  --input-width: 48%;
  --input-margin: 0 0 0 5px;
}

.floor_inputs app-input:first-child {
  float: right;
}

.floor_inputs app-input:nth-child(2) {
  float: left;
}

.floor_inputs:empty {
  display: none !important;
}

.floor_inputs app-checkbox {
  --checkbox-font-size: 14px;
  --checkbox-checkmark-top: 0px;
  --checkbox-checkmark-left: -2px;
  position: relative;
  top: 19px;
}

.address_number {
  width: 50%;
}

.commercial_checkbox {
  --checkbox-font-size: 14px;
}

@media only screen and (min-width: 880px) {
  .tooltip_wrapper {
    position: absolute;
    top: -64px;
    left: 20px;
    width: 521px;
    height: 54px;

    img {
      width: 48px;
    }
  }

  .street {
    width: 33%;
  }

  .tooltip_content {
    span {
      width: 100%;
    }
  }

  .wrapper app-select {
    --select-width: 33%;
    --select-height: 40px;
  }

  .wrapper app-input {
    --input-width: 33%;
    --input-height: 40px;
  }

  .wrapper app-dropdown-input {
    --dropdown-input-width: 33%;
    --dropdown-input-height: 40px;
  }

  .address_number app-input {
    --input-width: 37%;
  }

  .floor_inputs {
    display: flex !important;
  }

  .floor_inputs app-checkbox {
    align-self: center;
    --checkbox-top: 19px;
    --checkbox-height: 20px;
    --checkbox-width: 20px;
    --checkbox-border: 1px solid #ccc;
  }

  .floor_inputs app-input {
    --input-height: 38px;
    --input-width: 22%;
    --input-margin: 0 0 0 15px;
    float: none !important;
  }
}
