:host {
  display: block;
  width: var(--box-width);
  height: var(--box-height);
  border: var(--box-border);
  border-radius: var(--box-border-radius);
  padding: var(--box-padding);
  margin: var(--box-margin);
  box-shadow: var(--box-shadow);
  background-color: var(--box-background-color);

  &:hover {
    border-color: #ff7100;
  }
}

:host:hover .title {
  color: #ff7100;
}


.category {
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

.category-item {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}

.category-icon {
  img {
    width: var(--box-img-width);
    height: var(--box-img-height);
    object-fit: contain;
    display: block;
    margin: auto;
  }
}

.title {
  font-size: var(--font-size);
  font-weight: 500;
  width: 90%;
  color: #363636;
  font-family: Rubik;
  font-weight: var(--box-title-font-weight);
  text-align: center;
  margin: var(--box-title-margin);
}

.subtitle {
  width: 80%;
  height: 2.5625rem;
  margin-top: 0.1875rem;
  text-align: center;
  color: #999;
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
}

.publish {
  width: 90%;
}
